#contacto {
    padding-top: 3%;

    div {
        display: flex;
        justify-content: center;
        padding-top: 6%;
        padding-bottom: 2%;

        iframe {
            width: 28%;
            height: 15vh;

            @media only screen and (max-width:480px){
                height: 40px;
            }
        }

    }

    ul {
        padding-top: 1%;
        padding-bottom: 1%;
        @include flex(flex,center);
        list-style-type: none;
        background-color: $colorprincipal2;

        .icono_contacto {
            margin-left: 22%;
            width: 25%;
            
        &:hover{
            width:33%;
        }
            @media only screen and (max-width:480px){
                width: 25%;
                height: 25%;
            }
        }

    }
}